.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.container input[type=text]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

div.boxes button {
  float: right;
  font-size: 16px;
}
button.addButton{
  
  height: 40px;
}


div.itembox table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  float: right;
}
div.databasebox table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  float: left;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
div.databasebox table td {
  padding: 0px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

div.itembox table tr:hover {background-color: #ddd;}
div.databasebox table tr:hover {background-color: #4dca9c;}

div.itembox table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008553;
  color: white;
}
div.databasebox table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.navbar {
  padding: 20px;
  background-color: #04AA6D;
  display: flex;
  align-items: center;
  max-width: 100%;
  height:3vw;
  margin: 0 auto;
  box-shadow: 0px 2px 2px lightgray;
  border-color: #264d3e;
}
.navbar .links {
  margin-left: auto;
} 
.navbar h1 {
  margin-right: 70px;
  color:white;
  margin-left: auto;
  margin-right: auto;
  font-size:3vw;
 }
.navbar a {
  margin-left: 30px;
  text-decoration: none;
  padding: 5px 15px;;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: ease background-color 250ms;
}
.navbar a:hover {
  background-color: #4f615a7c;
}
.homepage{
  display: flex;
}
.infobox {
  float:left;
  position: relative;
  padding: 20px;
  max-width: 50%;
}
.infobox img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 13px;
}
.infobox h2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2vw;
}
.infobox p {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1vw;
}
.infobox a {
  position: absolute;
  padding: 6px;
  bottom: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
}
.infobox a:hover {
  background-color: #4f615a7c;
}
.youritemsbox {
  position: relative;
  padding: 20px;
  max-width: 50%;
}
