.donate {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.donateTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.donateBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
  text-align: left;
  line-height: 1.4;
}

.donateBottom p {
  width: 600px;
}

.donate .donateBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

@media screen and (max-width: 960px) {
  .donateBottom p {
    width: 80%;
  }

  .donateTop {
    height: 30%;
  }

  .donate .donateBottom h1 {
    height: 10px;
    font-size: 50px;
  }
}
